<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/assets/assets/css/final.css">
    <title>Thanks for you</title>
</head>
<body>
    <section class="box">
        <p><span>Done Successfully</span>, Thank you for your opinion and do not worry,
             we will work to take your opinion in consideration</p>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    
      <div class="row">
        <div class="col-lg-12">
          <a href="{% url 'index' %}" class="btn btn-primary px-4 mx-auto my-2">Home</a>
        </div>
      </div>
</body>
</html>